/* Основний колір тексту #757575; */
/* Другорядний колір тексту rgba(117, 117, 117, 1) */
/* Стиль заголовка #FFFFFF; */
/* Білий #FFFFFF */
/* Білий другорядний #F5F5F5 */
/* Акцент #2196F3 */

:root {
    --primary-text-color: rgba(117, 117, 117, 1);
    --primary-background-color: #FFFFFF;
    --secondary-background-color: #F5F5F5;
    --third-background-color: #F5F4FA;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --contact-link-text-color: #757575;
    --hero-title-color: #FFFFFF;
    --hero-background-color: #2F303A;
}

/* Загальні на весь документ */
body {
    background: var(--primary-background-color);
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    }

ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

a {
    text-decoration-line: none;
}

.section {
    margin: 0;
    padding-bottom: 94px;
    padding-top: 94px;
    /* border: 2px solid red; */
}

.section-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    padding: 0;
    margin-bottom: 50px;
    margin-top: 94px;
}

.no-padding {
    padding-top: 0;
    padding-bottom: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

/* Логотип шапка */

.site-header {
    background-color: var(--hero-title-color);
    /* border: 2px solid tomato; */
    border-bottom: 1px solid #ECECEC;
}

.navcontainer {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    /* border: 2px solid tomato; */
    display: flex;
    align-items: center;
}

.headercontainerflex {
    display: flex;
    width: 1200px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    /* border: 2px solid tomato; */
}

.herocontainer, .benefit-container, .what-we-do-container, .teamcontainer, .footercontainer , .filterbutton , .portfoliocontainer {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
    /* border: 2px solid tomato; */
}

.logo-part-one {
    color: var(--accent-color);
    letter-spacing: 0.03em;
}
.logo-part-two {
    color: var(--title-text-color);
    letter-spacing: 0.03em;
}

.logo-part-one, .logo-part-two, .logo-part-three {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    padding-top: 24px;
    padding-bottom: 24px;
}

/* Навігація шапка */
.site-nav-link:hover, .site-nav-link:focus, .site-nav-link:active {
    color: var(--accent-color); 
}

.site-nav, .item {
    display: flex;
    color: var(--title-text-color);
    /* margin-right: 50px; */
}

.site-nav {
    margin-left: 93px;
}

/* .site-nav, .item:not(:last-child) {
    margin-right: 50px;
}  */

.site-nav .item + .item {
    margin-left: 50px;
}


.site-nav-link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    /* border: 2px solid black; */
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

/* Шапка контакти */

.contactcontainer {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    /* border: 2px solid tomato; */
    display: flex;
    align-items: center;

}

.header-contact {
    display: flex;
    margin-left: auto;
}

.header-contact .item+.item {
    margin-left: 50px;
}


.contact-link:hover, .contact-link:focus, .contact-link:active {
    color: var(--accent-color);
}

.contact-link {
    color: var(--contact-link-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;
}

/* Заголовок та бекграунд Hero */
.hero {
    background-color: var(--hero-background-color);
    text-align: center;
}

.hero-title {
    margin-top: 0;
    padding-top: 200px;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: var(--hero-title-color);
    letter-spacing: 0.06em;
}

/* Кнопка замовити */

.hero-button {
    background-color: var(--accent-color);
    color: var(--hero-title-color);
    letter-spacing: 0.06em;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 216px;
    min-height: 50px;
    text-align: center;
    margin-bottom: 200px;
}

/* Наші переваги */

.backgroundsection {
}

.secondary {

}

.benefits-item {
    display: flex;
    justify-content: space-between;
}

.benefits-item > li {
    width: 270px;
}

.benefits-item .item+.item {
    margin-left: 50px;
    /* border: 2px solid tomato; */
}

.section-title-hiden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefit-section-title-text {
    color: var(--title-text-color) ;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 10px;
    margin-top: 94px;
}

.benefit-section-title-paragraph {
    color: var(--contact-link-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

/* Чим ми займаємося */

.what-we-do-item {
    display: flex;
}

.working {
    padding-top: 0;
    margin-top: 94px;
}

.what-we-do-item .what-we-do-image+.what-we-do-image {
    margin-left: 30px;
    /* border: 2px solid tomato; */
}


.what-we-do-image {

}


/* Наша команда */

.team-item {
    display: flex;
    text-align: center;
}

.team-member {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-item .team-member+.team-member {
    margin-left: 30px;
    /* border: 2px solid tomato; */
}


.third {
    background-color: var(--third-background-color);
}

.team-section-title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    margin-top: 30px;
    margin-bottom: 10px;
}

.team-section-paragraph {
    color: var(--contact-link-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

/* Підвал */

.footer-page {
    background-color: var(--hero-background-color);
    margin-top: 124px;
    /* border: 2px solid tomato; */
}

.footercontainer {
    padding-top: 60px;
}


.contact-link-map {
    color: var(--hero-title-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 9px;
}

.contact-link-footer {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    display: inline-block;
}

.mail {
    margin-bottom: 9px;
}

.phone {
    margin-bottom: 60px;
}

.logo-part-three {
    color: var(--hero-title-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

/* Портфоліо */

.portfolio-background-color {

}

.filtering-button:hover, .filtering-button:focus  {
    background-color: var(--accent-color);
    color: var(--hero-title-color);
}

.filterbutton {
    padding-top: 94px;
    margin-top: 0px;
    margin-bottom: 50px;
    /* border: 2px solid tomato; */
    text-align: center;
    justify-content: center;
}

.filtre-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.filtre-item .filtre-buttom+.filtre-buttom {
    margin-left: 8px;
    /* border: 2px solid tomato; */
}


.filtering-button {
    background-color: var(--ffiltering-button-bj-color-pasive);
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;  
    letter-spacing: 0.03em;
    cursor: pointer;
    border-radius: 4px;
    padding: 6px 22px;
    text-align: center;
    border: transparent;
}

.portfoliocontainer {
    margin-bottom: 94px;
}

.portfolio-item {
    display: flex;
    flex-wrap: wrap;

}

.portfolio-example {
    margin-right: 30px;
    margin-bottom: 30px;
}

.portfolio-item :nth-child(3n) {
    margin-right: 0;
}

.portfolio-item :nth-last-child(-n+3) {
    margin-bottom: 0;
}

.portfolio-text {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    padding-left: 24px;
    margin-top: 20px;
    }

.portfolio-paragraph {
    color: var(--contact-link-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    margin-top: 4px;
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    padding-left: 24px;
    margin-top: 4px;
}
